# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env


/reports/
/build/truba-client-gui/COLLECT-00.toc

/dist/truba-client-gui/_internal/PySide6/
/dist/truba-client-gui/_internal/shiboken6/
/dist/truba-client-gui/_internal/cryptography-46.0.5.dist-info/
/dist/truba-client-gui/_internal/templates/

# Qt / PySide
*.qrc
*.qm

# Logs
*.log

# Runtime state (app)
.truba_slurm_gui/

# Third-party binaries (downloaded at runtime)
src/truba_gui/third_party/
third_party/
**/third_party/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
/TrubaGUI.zip
/.continue/
/chatlogs/
/.codex/
